<html>
  <body>
    <p>{{ flash }}</p>
    <form action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="marty" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" value="i-love-hoverboards" />
      </div>
      <div>
        <input type="submit" value="Log In" />
      </div>
    </form>
  </body>
</html>
